<%= render 'login_layout' do %>
  <%= render partial: 'login_header', locals: {title: 'Change Your Password'} %>

  <% if resource.errors.any? %>
    <%= render partial: 'login_alert', locals: {message: resource.errors.full_messages.join(', ')} %>
  <% end %>

  <div class="dash-card-inner inset border-bottom">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions text-center padding-top">
        <%= f.submit "Confirm new password", class: 'button primary' %>
      </div>

      <p class="t-small c-steel text-center padding-top no-margin">
        <small class="form-note shift-up">
          <a href="/users/sign_in">Cancel</a>
        </small>
      </p>
    <% end %>
  </div>
<% end %>