<%= render 'login_layout' do %>
  <%= render partial: 'login_header', locals: {title: 'Sign in'} %>

  <% if flash[:alert] %>
    <%= render partial: 'login_alert', locals: {message: flash[:alert]} %>
  <% end %>

  <div class="dash-card-inner inset border-bottom">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'caps' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'caps left' %>
        <small class="form-note right"><a href="/users/password/new">Forgot password?</a></small>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions text-center padding-top">
        <%= f.submit "Sign in", class: 'button primary' %>
      </div>
    <% end %>
  </div>
<% end %>